name: CI

on:
  pull_request:
    branches: [ "dev", "main" ]
  push:
    branches: [ "dev" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - run: chmod +x ./gradlew
      - run: ./gradlew test jacocoTestCoverageVerification
